@model ListUsersViewModel
@inject LMS.Services.Contracts.IUserService userServices
@{
    ViewData["Title"] = "ListUsers";
    Layout = "~/Views/Shared/_LayoutCustom.cshtml";
}
@if (this.TempData["Success"] != null)
{
    <div style="color:green">@this.TempData["Success"]</div>
}
<section class="recomended-sec">
    <div class="container">
        <div class="title">
            <h2 class="align-content-center">List of Users</h2>
            <hr>
        </div>
    </div>
</section>
@foreach (var user in Model.Users)
{
    if (Model.Users.Count == 1)
    {
        <section class="about-sec">
            <div class="container">
                <div class="title justify-content-center">
                    <h2 class="card-title bg-danger">There are no registered users yet. Contact Sales Department.</h2>
                </div>
            </div>
        </section>
    }
    if (user.Username != "admin")
    {
        <section class="about-sec">
            <div class="container">
                <div class="title justify-content-center">
                    <h2 class="card-title"><span>Username: @user.Username</span> <span style=" padding-left:100px">Role: @user.Role
                           </span></h2>
                    <h2 class="card-title"></h2>
                </div>
                <row class="form-row">
                    <col-md class="col-3">
                        <form method="post">
                            <button class="btn btn-primary btn-lg" asp-controller="Admin" asp-action="CreateLibrarian" asp-route-userId="@user.Id">Create-Librarian</button>
                        </form>
                    </col-md>
                    <col-md class="col-3">
                        <form method="post">
                            <button class="btn btn-primary btn-lg" asp-controller="Admin" asp-action="CreateMember" asp-route-userId="@user.Id">Create-Member</button>
                        </form>
                    </col-md>
                    <col-md class="col-3">
                        <form method="get">
                            <button class="btn btn-primary btn-lg" asp-controller="Admin" asp-action="BanUser" asp-route-userId="@user.Id">Ban-User</button>
                        </form>
                    </col-md>
                </row>
            </div>
        </section>
    }
}
