<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Seattle Public Library</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#03a6f3">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600,700,800,900" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <header>
        <div class="header-top">
            <div class="container">
                <div class="row">
                    <div class="col-md-3"><a href="https://www.spl.org/" class="web-url">www.Seattle-Public-Library.com</a></div>
                    <div class="col-md-6">
                        <h5><font color="white"><i>When you care enough to read the very best - read ToNik™</i></font></h5>
                    </div>
                    <partial name="_LoginHeaderPartial" />
                </div>
            </div>
        </div>
        <div class="main-menu">
            <div class="container">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <a href="https://localhost:44355" class="web-url">
                        <img src="~/images/logo1.png" alt="logo1"></a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav ml-auto">
                                <li class="navbar-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                                </li>
                                <li class="navbar-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="About">About</a>
                                </li>
                                <li class="navbar-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                                </li>

                                <partial name="_LoginPartial" />
                                <partial name="_AdminNavBarPartial" />
                                <partial name="_FreeAccNavBarPartial" />
                                <partial name="_MemberNavBarPartial" />
                            </ul>
                            @*<div class="cart my-2 my-lg-0">
                    <span>
                        <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                    </span>
                    <span class="quntity">3</span>
                </div>*@

                            @*<form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search here..." aria-label="Search">
                    <span class="fa fa-search"></span>
                </form>*@
                        </div>
                </nav>
            </div>
        </div>
    </header>
    <section >

        @RenderBody()

    </section>
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="address">
                        <h4>Our Address</h4>
                        <h6>
                            The Seattle Central Library,
                            Beside that Tower, USA
                        </h6>
                        <h6>Call : 0877-353-688</h6>
                        <h6>Email :</h6>
                        <p><h6> info@Seattle-Public-Library.com</h6></p>
                    </div>
                    <div class="timing">
                        <h4>Timing</h4>
                        <h6>Mon - Fri: 7am - 10pm</h6>
                        <h6>​​Saturday: 8am - 10pm</h6>
                        <h6>​Sunday: 8am - 8pm</h6>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="navigation">
                        <h4>Navigation</h4>
                        <ul>
                            <li>
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                            </li>
                            <li> <a class="nav-link text-dark" asp-area="" asp-controller="Book" asp-action="Index">Books</a></li>
                            <li> <a class="nav-link text-dark" asp-area="" asp-controller="Member" asp-action="MyBooks">My Books</a></li>
                            <li> <a class="nav-link text-dark" asp-area="" asp-controller="Member" asp-action="MyReservations">My Reservations</a></li>
                            
                        </ul>
                    </div>
                    <div class="navigation">
                        <h4>Help</h4>
                        <ul>
                            <li>
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="About">About</a>
                            </li>
                            <li> <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy Policy</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="form">
                        <h3>Quick Contact us</h3>
                        <h6>
                            Contact our consultants and they will reply you as soon as possible
                        </h6>
                        
                        <form method="get"> 
                            <div class="row">
                                <div class="col-md-6">
                                    <input type="text" name="Name" placeholder="Name" value="@ViewData["Name"]" required>
                                </div>
                                <div class="col-md-6">
                                    <input type="email" name="Email" placeholder="Email" value="@ViewData["Email"]" required>
                                </div>
                                <div class="col-md-12">
                                    <textarea placeholder="Message" name="Message" value="@ViewData["Message"]"></textarea>
                                </div>
                                <div class="col-md-12">
                                    <button class="btn bg-info border-0" asp-controller="Contact"
                                            asp-action="SendQuickMessage">
                                        Alright, Submit
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="copy-right">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <h5>
                            <a href="https://forum.telerikacademy.com" class="web-url">Telerik Academy</a> Alpha-13 ©
                            Seattle Public Library 2019. All Rights Reserved.
                        </h5>
                </div>
                    <div class="col-md-6">
                        <div class="share align-middle">
                            <a href="https://facebook.com" class="web-url">
                                <i class="fa fa-facebook-official"></i></a>
                            <a href="https://instagram.com" class="web-url">
                                <i class="fa fa-instagram"></i></a>
                                <a href="https://twitter.com" class="web-url">
                                    <i class="fa fa-twitter"></i>
                                </a>
                                <a href="https://pinterest.com" class="web-url">
                                    <i class="fa fa-pinterest"></i></a>
                                    <a href="https://google.com" class="web-url"><i class="fa fa-google-plus"></i></a>
</div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/owl.carousel.min.js"></script>
    <script src="/js/custom.js"></script>
    @RenderSection("Scripts", required: false)
    @await Component.InvokeAsync("NToastNotify")
</body>
</html>