@model ReviewViewModel

@{
    ViewData["Title"] = "Review";
    Layout = "~/Views/Shared/_LayoutCustom.cshtml";
}

@if (Model.CanReview)
{

    <form asp-controller="Member" asp-action="ReviewBook" method="post">
        <section class="recomended-sec">
            <div class="container">
                <div class="title">
                    <h2 class="align-content-center">Review Book</h2>
                    <hr>
                </div>
            </div>
        </section>
        <table class="table">
            <thead>
                <tr>
                    <th class="">
                        Cover
                    </th>

                    <th>
                        Book Description
                    </th>
                    <th class="">

                    </th>
                    <th class="">

                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td height="180" width="180">
                        <img src="@Model.CoverImageUrl" onerror="srcset='images/no-image-available-icon.jpg'" height="250" width="250">
                    </td>

                    <td>
                        <dl class="row">
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => Model.Title)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => Model.Title)
                            </dd>
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => Model.AuthorName)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => Model.AuthorName)
                            </dd>
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => Model.SubjectCategoryName)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => Model.SubjectCategoryName)
                            </dd>
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => Model.Pages)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => Model.Pages)
                            </dd>
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => Model.Year)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => Model.Year)
                            </dd>
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => Model.Country)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => Model.Country)
                            </dd>
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => Model.Language)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => Model.Language)
                            </dd>
                            <dt class="col-sm-2">
                                Your grade
                            </dt>
                            <dd class="col-sm-10 text-danger">
                                <div class="form-group">
                                    <b>
                                        <select asp-for="@Model.Grade" class=" alert-success form-check">
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                            <option value="6">6</option>
                                            <option value="7">7</option>
                                            <option value="8">8</option>
                                            <option value="9">9</option>
                                            <option value="10">10</option>
                                        </select>
                                    </b>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <textarea asp-for="Description" class="alert-success" rows="5" cols="50" placeholder="Write your review here..."> </textarea>
                                    </div>

                                </div>
                            </dd>
                        </dl>
                    </td>

                    <td></td>
                </tr>
            </tbody>
        </table>
        <div style="padding-left:380px">
            <p>
                <div style="padding-bottom:100px">
                <button type="submit" class="btn bg-success border-0">Rate This Book Now</button>
                </div>
            </p>
        </div>
        <section class="recomended-sec">
            <div class="container">
                <div class="title">
                    <h2 class="align-content-center"> Read other reviews!</h2>
                    <hr>
                </div>
            </div>
        </section>
        @if (Model.Comments.Count() == 0)
        {
            <center>
            <h3 style="padding-bottom:50px">
                <i>
                    Your review can be the first one! There are no reviews for this book yet.
                </i>
            </h3>
                </center>
        }
        else
        {
            <table class="table">
                <thead>
                    <tr>
                        <th class="">
                            Review From
                        </th>
                        <th>
                            Review Description
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Comments)
                    {
                        <tr>
                            <td>
                                <dl class="row">
                                    <dd class="col-sm-10">
                                        @item.Key
                                    </dd>
                                </dl>
                            </td>
                            <td>
                                <dl class="row">
                                    <dd class="col-sm-10">
                                        @if (string.IsNullOrEmpty(item.Value))
                                        {
                                            <h6>No comment</h6>
                                        }
                                        else
                                        {
                                            <h6>"@item.Value"</h6>
                                        }
                                    </dd>
                                </dl>
                            </td>

                        </tr>
                    }

                </tbody>
            </table>
        }
    </form>
}
else
{
    <form asp-controller="Member" asp-action="ReviewBook" method="post">
        <section class="recomended-sec">
            <div class="container">
                <div class="title">
                    <h2 class="align-content-center"><font color="green">You have already reviewed this book!</font></h2>
                    <hr>
                </div>
            </div>
        </section>

        <table class="table">
            <thead>
                <tr>
                    <th class="">
                        Cover
                    </th>

                    <th>
                        Book Description
                    </th>
                    <th class="">

                    </th>
                    <th class="">

                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td height="180" width="180">
                        <img src="@Model.CoverImageUrl" onerror="srcset='images/no-image-available-icon.jpg'" height="250" width="250">
                    </td>

                    <td>
                        <dl class="row">
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => Model.Title)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => Model.Title)
                            </dd>
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => Model.AuthorName)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => Model.AuthorName)
                            </dd>
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => Model.SubjectCategoryName)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => Model.SubjectCategoryName)
                            </dd>
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => Model.Pages)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => Model.Pages)
                            </dd>
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => Model.Year)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => Model.Year)
                            </dd>
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => Model.Country)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => Model.Country)
                            </dd>
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => Model.Language)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => Model.Language)
                            </dd>
                        </dl>
                    </td>
                    <td></td>
                </tr>
            </tbody>
        </table>
        <section class="recomended-sec">
            <div class="container">
                <div class="title">
                    <h2 class="align-content-center"> Read other reviews!</h2>
                    <hr>
                </div>
            </div>
        </section>
        @if (Model.Comments.Count() == 0)
        {
            <h1>
                There are no reviews for this book yet.
            </h1>
        }
        else
        {
            <table class="table">
                <thead>
                    <tr>
                        <th class="">
                            Review From
                        </th>
                        <th>
                            Review Description
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Comments)
                    {
                        <tr>
                            <td>
                                <dl class="row">
                                    <dd class="col-sm-10">
                                        @item.Key
                                    </dd>
                                </dl>
                            </td>
                            <td>
                                <dl class="row">
                                    <dd class="col-sm-10">
                                        @if (string.IsNullOrEmpty(item.Value))
                                        {
                                            <h6>No comment</h6>
                                        }
                                        else
                                        {
                                            <h6>"@item.Value"</h6>
                                        }
                                    </dd>
                                </dl>
                            </td>

                        </tr>
                    }

                </tbody>
            </table>

        }
    </form>
}
