@model LMS.Models.Book

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_LayoutCustom.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Book</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Author)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Author.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pages)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pages)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Year)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Year)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Country)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Country)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Language)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Language)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Copies)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Copies)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsReserved)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsReserved)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsCheckedOut)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsCheckedOut)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BookRating)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BookRating.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CoverImageUrl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CoverImageUrl)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
