@model IEnumerable<LMS.Models.Book>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutCustom.cshtml";
}
    <section class="recomended-sec">
        <div class="container">
            <div class="title">
                <h2 class="align-content-center">Books List</h2>
                <hr>
            </div>
        </div>
    </section>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Author)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pages)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Year)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Country)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Language)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Copies)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsReserved)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsCheckedOut)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookRating)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CoverImageUrl)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Author.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pages)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Year)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Country)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Language)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Copies)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsReserved)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsCheckedOut)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BookRating.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CoverImageUrl)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
